.profileContainer{
  font-family: "Museo Sans Cyrl 500";
  background: #FFF8FF;
  border-radius: 20px;
  border-color: red;
  overflow: hidden;

  button{
    color: #000001;
    border: none;
    background-color: inherit;
    box-shadow: none;
  }
}
