/* .slogan {

  font-family: Bauhaus 93;
font-size: 18px;
line-height: 26px;

color: #C9C9C9;

} */
.home {
  body {
    font-size: 18px;
    background: url(/images/background.jpg);
    /* background-attachment: fixed; */
    background-size: 100%;
  }

   a{
    width: 106px;
    height: 22px;
    color: #555982;
    display: flex;
    justify-content: space-around;
    align-items: right;
  }
  a:hover{
   color: #5F69D3;
   }
  a:active{
   color: #4954C6;
   }

   body div.Method_pap{
    color: #646BAB;
   /* display: flex; */
   justify-content: space-around;
   align-items: right;

   }
   button.test {
     width: 285px;
     height: 80px;
     background: #FF3062;
     color: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(255, 53, 53, 0.25);
  border-radius: 50px;
   }

   button.more {
     width: 166px;
  height: 46.6px;
  /* left: 882px;
  top: 3403px; */
  color: #FFFFFF;
  background: #FF3062;
  box-shadow: 0px 4px 20px rgba(255, 53, 53, 0.25);
  border-radius: 50px;
   }

   button.more_articles {
     width: 331px;
   height: 50px;
   /* left: 882px;
   top: 3403px; */
   align-items: center;
   color: #FFFFFF;
   background: #FF3062;
   box-shadow: 0px 4px 20px rgba(255, 53, 53, 0.25);
   border-radius: 50px;
   }

  body div.era img{
    width: 100%;
    /* width: 628px;
    height: 628px; */
  }
  body div.stepall{
    width: 1159px;
  /* height: 659px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
    filter: opacity(100%);
  /* box-shadow: 0px 20px 134px rgba(0, 0, 0, 0.11);
  border-radius: 10px; */
  }
  body div.step{
    width: 100%;
  height: 659px;
  padding:  50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
    background: #FCFCFC;
  box-shadow: 0px 20px 134px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  }
  body div.item {
    /* width: 200px; */
    margin: 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #step-block .col-sm-6:nth-child(2) {
    margin-top: 250px;
  }

  #step-block .col-sm-6:nth-child(3) {
    margin-top: -150px;
  }

  #step-block .col-sm-6:last-child {
    margin-top: 100px;
  }

  #step-block .container-fluid {
    padding: 0;
    height: 100%;
  }

  #step-block h2 {
    margin-bottom: 30px;
  }

  /* #partners-block .container-fluid  { */
  #partners-block .container  {
    /* padding: 0; */
    height: 100%;
  /* color: #8F8F8F; */
  background: #F9F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  }

  #partners-block .row  {
  justify-content: center;
  /* max-width: 814px; */
  }
  #partners-block  h5, h3 {
    color: #8F8F8F;
  }

  body div.step img{
    width: 100%;
    /* height: 331px; */
    /* padding: 50px; */
    /* margin:  50px; */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* left: 50px;
    top: 50px; */
  }

  @media screen and (max-width: 1024px) {
    body {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 1200px) {
  body   {
      flex-direction: column;
    }
  }
  @media screen and (max-width: 1199px) {
  partners-block  {
      flex-direction: column;
    }
  }
}
