.ovulationCalendar {
  font-size: 18px;
  text-align: center;
  margin-bottom: 1.667em;

  table {
      border-spacing: 0;
    background: #E8E8FF;
  }

  th {
    font-weight: 900;
    color: #5F5F5F;
    background: #fff;
    padding: 0.556em 0;
  }

  td {
    color: #424242;
    width: 8.421em;
    height: 8.421em;
    border-bottom: 0.628571px solid rgba(0, 0, 0, 0.5);
    border-right: 0.628571px solid rgba(0, 0, 0, 0.5);
  }

  tr td:last-child {
    border-right: none;
  }

  tr:last-child td{
    border-bottom: none;
  }

  tr:first-child>td:first-child {
    border-top-left-radius: 6px;
  }

  tr:first-child>td:last-child {
    border-top-right-radius: 6px;
  }

  tr:last-child>td:first-child {
    border-bottom-left-radius: 6px;
  }

  tr:last-child>td:last-child {
    border-bottom-right-radius: 6px;
  }
}

/*colors for ovulation calendar cells*/
  .safeSex {
    background: #B6FF55;
  }
  .conditionallySafeDays {
    background: #FFA857;
  }
  .ovulation {
    background: #6E9935;
  }
  .favorableDays {
    background: #FFC7FD;
  }
  .menstruation {
    background: #FF5A5A;
  }
  .pms {
    background: #FFD234;
  }
