@use "../colors";
@use "../fonts";

.button-std {
  font-size: 14px;
  color: colors.$white;
  border-radius: 50px;
  background: colors.$red;
  box-shadow: 0px 5px 5px rgba(255, 48, 98, 0.25);
  height: 3.571em;
  padding: 0 1.571em;
  cursor: pointer;
}
