$black: #000000;
$white: #FFFFFF;
$lightestGray: #F8F8F8;
$lightestGray2: #E3E3E3;
$lightestGray3: #DDDDDD;
$lightestGray4: #FDFDFD;
$lightestGray5: #F5F5F5;
$lightestGray6: #EEEEEE;
$lightLightGray: #D8D8D8;
$lightLightGray2: #CBCBCB;
$lightLightGay3: #DEDEDE;
$lightGray: #B9B9B9;
$lightGray2: #B0B0B0;
$lightGray3: #C9C9C9;
$gray: #AAAAAA;
$darkGray: #737373;
$darkestGray: #535353;
$red: #FF3062; /*button color*/
$lingtPink: #FFC7FD;
$pink: #FFC7FD;/*input background*/
$lightBlue: #A9D6FF;/*link color*/
$blueGray: #555982;
$lightBlueGray: #B8B9C8;
