/*Font colors*/
$black: #000000;
$white: #ffffff;
$fontDarkBlue: #000858;
$fontLightBlue: #55ACEE;
$fontGray: #C9C9C9;
/*UI colors*/
$gray: #eeeeee;
$crimson: #ff3062; /*button color*/
$inputPink: #FFC7FD;
$lightBlue: #A9D6FF;
