@use "../fonts/MuseoSansCyrillic/stylesheet.css";

@font-face{
  font-family: "Roboto Slab Medium";
  src: url("../fonts/RobotoSlab/static/RobotoSlab-Medium.ttf");
}

@font-face{
  font-family: "Roboto Light";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}
