@use "fonts";
@use "colors";
@import "./frameworks/bootstrap-5.0.0-beta3/bootstrap";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  background: url("../images/background.jpg");
  background-size: 100%;
}

li {
  list-style: none;
}

h1 {
  font-size: 51px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}
h5 {
  font-size: 14px;
}

.textBold {
  font-weight: bold;
}

.content {
  position: relative;
  overflow: hidden;
}

%formControl {
  display: inline-block;
  display: inline-flex;
  box-sizing: border-box;
  border-radius: 30px;
  color: colors.$white;
  font-weight: 500;
  padding: 0 0.833em;
  align-self: center;
  align-items: center;

  &:active,
  &:focus {
    outline: none;
  }
}

button {
  background: colors.$red;
  font-size: 18px;
  height: 3.056em;
  padding: 0 0.556em;
  box-shadow: 0px 5px 5px rgba(255, 48, 98, 0.25);
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  border-radius: 30px;
  color: colors.$white;
}

button:hover {
  background: #FF1B51;
  box-shadow: 0px 15px 70px rgba(255, 53, 53, 0.25);
}

button:disabled {
  background: colors.$gray;
  box-shadow: none;
  cursor: default;
}

.alert {
  text-align: center;
}
