@use "colors";
@use "fonts";
@use "datepicker";
@use "calendar";

.calendarContainer {
  font-family: "Museo Sans Cyrl 500", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  font-size: 24px;
  max-width: 59.167em;
  margin: 0 auto;

  input,
  select,
  button {
    display: inline-block;
    display: inline-flex;
    box-sizing: border-box;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    padding: 0 0.833em;
    align-self: center;
    align-items: center;
  }

  input,
  select {
    background: #FFC7FD;
    font-size: 24px;
    height: 2.292em;
  }

  input::placeholder {
    color: #fff;
    opacity: 1;
    font-size: 24px;
  }

  input.datepicker {
    width: 100%;
    background-image: url("../svg/calendarIcon.svg");
    background-position: top 50% right 1.3125em;
    background-repeat: no-repeat;
  }

  button {
    background: #FF3062;
    font-size: 18px;
    height: 3.056em;
    padding: 0 0.556em;
  }

  select {
    appearance: none;
    background-image: url("../svg/arrowDown.svg");
    background-position: top 50% right 0.875em;
    background-repeat: no-repeat;
    min-width: 5em;
  }

  option:last-child{
    border-radius: 10px;
  }

  h3 {
    color:#555982;
    font-size: 24px;
    margin-bottom: 0.917em;
  }

  .settings {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-top: 1.22em;
    padding-bottom: 1.667em;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;

    div:not(:last-child) {
      margin-right: 1em;
    }
  }
}

.prevCycle {
  position: relative;
  min-width: 14.917em;
}

.prevCycle::after {
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}

.monthSelector {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 1.25em 0;
}
