@use "colors";
@use "paymentPage";
@use "calendarPage";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

.content {
  position: relative;
  overflow: hidden;
}
