/*Font colors*/
$black: #000000;
$white: #ffffff;
$fontDarkBlue: #000858;
$fontLightBlue: #55ACEE;
$fontGray: #C9C9C9;
/*UI colors*/
$gray: #eeeeee;
$crimson: #ff3062; /*button color*/
$inputPink: #FFC7FD;
$lightBlue: #A9D6FF;

@use "fonts";
@use "paymentPageBackground";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

.paymentContainer {
  font-family: "Museo Sans Cyrl 500", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: $black;
  margin: 0 auto;
  box-sizing: border-box;
  width: 41.583em;
  background: $white;
  border: 1px solid $lightBlue;
  box-shadow: 4px 4px 4px $lightBlue;
  border-radius: 30px;
  padding: 2em 0 4.583em 2em;
  overflow: hidden;

  button {
    font-size: 14px;
    color: $white;
    border-radius: 50px;
    background: #FF3062;
    box-shadow: 0px 5px 5px rgba(255, 48, 98, 0.25);
    height: 3.571em;
    padding: 0 1.571em;
  }

  button:hover {
    background: #FF1B51;
    box-shadow: 0px 15px 70px rgba(255, 53, 53, 0.25);
  }

  button[type="submit"] {
    padding: 0 2.357em;
  }
}

.inputWrapper{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 1.667em;

  legend {
    display: inline-block;
    display: inline-flex;
    width: 9.667em;
    font-size: 18px;
    margin-right: 2.722em;
  }
}

.inputWrapper:last-child{
  margin-bottom: 0;
}

.photoUpload,
.payment {
  legend {
    display: inline-flex;
    align-self: stretch;
  }
}

.paymentForm {
  label {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #535353;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
   {
     font-family: "Museo Sans Cyrl 500", sans-serif;
     font-weight: 500;
     font-size: 24px;
     line-height: 1.2;
     display: inline-block;
     display: inline-flex;
     width: 17.792em;
     height: 2.083em;
     border-radius: 30px;
     padding: 0 0.833em;
     background: #FFFFFF;
     box-sizing: border-box;
  }

  input::placeholder{
    color: #B8B9C8;
    font-size: 18px;
  }

  input:focus{
    border: 2px solid rgba(213, 213, 213, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 5px #A9D6FF;
    outline: none;
  }

  input[type="email"]{
    background: $gray;
    color: #B8B9C8;
  }

  input[type="number"]{
    -moz-appearance: textfield;
  }

  input[type="number"]:disabled{
    background: $inputPink;
    color: $white;
    font-size: 24px;
  }

  input[type="file"] {
    display: none;
  }

  input[type="radio"] {
    position: relative;
    display: inline-block;
    font-size: 24px;
    width: 1.083em;
    height: 1.083em;
    background: #FFFFFF;
    border-radius: 50%;
    border: 2px solid #A9D6FF;
    box-sizing: border-box;
    margin-right: 0.417em;
    -webkit-appearance: none;
  }

  input[type="radio"]:focus {
      box-shadow: none;
  }

  input[type="radio"]:checked {
      border: 2px solid #A9D6FF;
  }

  input[type="radio"]:checked:after {
      border-radius: 50%;
      content: '';
      display: block;
      position: relative;
      width: 0.417em;
      height: 0.417em;
      left: calc(50% - 0.417em/2);
      top: calc(50% - 0.417em/2);
      background: #B0B0B0;
  }
}

.uploadWrapper {
  color: #ddd;
  font-size: 18px;

  .drag {
    width: 11.111em;
  }

  .dragArea img {
    width: 100%;
  }

  .or {
    text-align: center;
    padding: 0.111em 0;
  }

  .upload:hover {
    cursor: pointer;
  }
}

.paymentMethods {
  width: 28.917em;
  background: #FDFDFD;
  border: 1px solid #F5F5F5;
  box-sizing: border-box;
  box-shadow: 0px 4px 44px rgba(185, 185, 185, 0.25);
  border-radius: 15px;
  padding: 0.75em 0.75em 1.208em 0.75em;

  .withCard {
    padding-bottom: 1.083em;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }
  label {
    display: inline-flex;
  }
}

.paymentIcons {
  display: inline-block;
  padding:0 0.625em;

  img {
    display: inline-block;
    width: 1.667em;
    height: 1.667em;
  }
  img:not(:last-child){
    margin-right: 0.25em;
  }
}

.card {
  font-size: 24px;
  color: #676767;
  position: relative;
  box-sizing: border-box;
  height: 14.292em;
  margin-bottom: 1.333em;

  input[type="number"],
  input[type="tel"],
  input[type="text"] {
    width: 13.333em;
    border: 2px solid #8CC63F;
    border-radius: 5px;
    background: #fff;
    text-transform: uppercase;
    white-space: nowrap;
  }

  input:hover {
    box-shadow: none;
  }

  .frontSide,
  .rearSide {
    position: relative;
    background: #eee;
    border: 1px solid #A7A7A7;
    border-radius: 20px;
  }

  .frontSide {
    width: 22.917em;
    height: 12.5em;
    padding: 1.297em 0 0.75em 1.75em;
    left: 0;
    top: 0;
    z-index: 1
  }

  .rearSide {
    position: absolute;
    top: 3.25em;
    left: 5.917em;
    width: 21.458em;
    height: 11.042em;
    overflow: hidden;
    z-index: 0;
  }

  .magnetStrip {
    position: relative;
    top: 0.875em;
    left: 0;
    height: 2.708em;
    width: 100%;
    background: #777777;
  }

  .numberGroup{
    position: relative;
    margin-bottom: 0.625em;
  }

  .numberText {
    margin-bottom: 0.75em;
  }

  .number {
    position: relative;
    top: 0;
    left: 2.417em;
  }

  .validThroughGroup {
    margin-bottom: 1.625em;

    .monthYear{
      display: inline-block;
      color: #000;
    }

    .month,
    .year {
      display: inline-block;
      position: relative;
      color: #000;
    }

    .month::after,
    .year::after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 18px;
      font-size: 12px;
      line-height: 14px;
      color: #676767;
    }

    .month::after {
      content: "місяць";
    }

    .year::after {
      content: "рік";
    }

    .month input[type="number"],
    .year input[type="number"]{
      position: relative;
      border: 1px solid #FF3062;
      width: 2.292em;
      text-align: center;
      padding: 0;
    }
  }

  .nameGroup {
    position: relative;
    height: 2.083em;
    line-height: 2.083em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;

    .name {
      display: inline-flex;
      align-self: center;
    }
    .nameInput{
      display: inline-flex;
      position: absolute;
      top: 0;
      left: 2.417em;
      display: inline-flex;
    }

    img {
      position: absolute;
      bottom: 0;
      right: 1.583em;
      width: 2.75em;
      height: 2.75em;
    }
  }

  .cw {
    position: absolute;
    top: 6.056em;
    right: 0.611em;
    width: 4.722em;
    text-align: center;
    font-size: 18px;

    input {
      width: 100%;
      height: 2.222em;
      background: #FFFFFF;
      border: 1px solid #FF4242;
      box-sizing: border-box;
      border-radius: 5px;
      color: #000;
    }
  }

  .securePayment {
    position: absolute;
    bottom: 0.642em;
    left: 1.736em;
    color: #8CC63F;
    font-size: 14px;

    img {
      width: 1.785em;
      height: 1.785em;
    }
  }
}//card end

.withPaypal {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  width: 23.292em;
  height: 2.083em;
  border: 2px solid #DEDEDE;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 0.417em;
  padding-right: 0.542em;
  margin-bottom: 0.625em;

  img {
    position: absolute;
    top: 0;
    right: 0.542em;
    width: 1.667em;
    height: 1.667em;
  }
}

.termsOfUse {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 14px;
  width: 39.929em;

  span {
    color:  #C9C9C9;
    margin-left: 1.077em;
  }

  a,
  a:visited,
  a:hover,
  a:active {
    color: #A9D6FF;
  }
}
