.card_pay {
  font-size: 24px;
  color: #676767;
  position: relative;
  box-sizing: border-box;
  height: 14.292em;
  margin-bottom: 1.333em;

  input[type="number"],
  input[type="tel"],
  input[type="text"] {
    width: 13.333em;
    border: 2px solid #8CC63F;
    border-radius: 5px;
    background: #fff;
    text-transform: uppercase;
    white-space: nowrap;
  }

  input:hover {
    box-shadow: none;
  }

  .frontSide,
  .rearSide {
    position: relative;
    background: #eee;
    border: 1px solid #A7A7A7;
    border-radius: 20px;
  }

  .frontSide {
    width: 22.917em;
    height: 12.5em;
    padding: 1.297em 0 0.75em 1.75em;
    left: 0;
    top: 0;
    z-index: 1
  }

  .rearSide {
    position: absolute;
    top: 3.25em;
    left: 5.917em;
    width: 21.458em;
    height: 11.042em;
    overflow: hidden;
    z-index: 0;
  }

  .magnetStrip {
    position: relative;
    top: 0.875em;
    left: 0;
    height: 2.708em;
    width: 100%;
    background: #777777;
  }

  .numberGroup{
    position: relative;
    margin-bottom: 0.625em;
  }

  .numberText {
    margin-bottom: 0.75em;
  }

  .number {
    position: relative;
    top: 0;
    left: 2.417em;
  }

  .validThroughGroup {
    margin-bottom: 1.625em;

    .monthYear{
      display: inline-block;
      color: #000;
    }

    .month,
    .year {
      display: inline-block;
      position: relative;
      color: #000;
    }

    .month::after,
    .year::after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 18px;
      font-size: 12px;
      line-height: 14px;
      color: #676767;
    }

    .month::after {
      content: "місяць";
    }

    .year::after {
      content: "рік";
    }

    .month input[type="number"],
    .year input[type="number"]{
      position: relative;
      border: 1px solid #FF3062;
      width: 2.292em;
      text-align: center;
      padding: 0;
    }
  }

  .nameGroup {
    position: relative;
    height: 2.083em;
    line-height: 2.083em;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;

    .name {
      display: inline-flex;
      align-self: center;
    }
    .nameInput{
      display: inline-flex;
      position: absolute;
      top: 0;
      left: 2.417em;
      display: inline-flex;
    }

    img {
      position: absolute;
      bottom: 0;
      right: 1.583em;
      width: 2.75em;
      height: 2.75em;
    }
  }

  .cw {
    position: absolute;
    top: 6.056em;
    right: 0.611em;
    width: 4.722em;
    text-align: center;
    font-size: 18px;

    input {
      width: 100%;
      height: 2.222em;
      background: #FFFFFF;
      border: 1px solid #FF4242;
      box-sizing: border-box;
      border-radius: 5px;
      color: #000;
    }
  }

  .securePayment {
    position: absolute;
    bottom: 0.642em;
    left: 1.736em;
    color: #8CC63F;
    font-size: 14px;

    img {
      width: 1.785em;
      height: 1.785em;
    }
  }
}//card end
